nav .profile .profile-link {
    position: absolute;
    top: calc(100% + 10px);
    right: 0;
    background: var(--fontwhite);
    padding: 10px 0;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 160px;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease;
}

nav .profile {
    display: flex;
    align-items: center;
    position: absolute;
    left: 90%;
}

nav .profile img{
    width: 36px;
    height: 36px;
    border-radius: 50%;
    margin-left:10px;
    object-fit: cover;
    cursor: pointer;
}